<p>rooms-list works!</p>
<h2>{{ title }}</h2>
<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Odd/Even</th>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Amenities</th>
      <th>Price</th>
      <th>Check-in Time</th>
      <th>Check-out Time</th>
      <th>Selected Room</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of rooms; let e = even; let o = odd; let i = index">
      <td>{{ i }}</td>
      <td>{{ e ? 'Even' : 'Odd' }}</td>
      <td>{{ item.roomNumber }}</td>
      <td>{{ item.roomType }}</td>
      <td>{{ item.amenities }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.checkinTime | date }}</td>
      <td>{{ item.checkoutTime | date }}</td>
      <td>
        <button class="btn btn-primary" (click)="selectRoom(item)">Select</button>
      </td>
    </tr>
  </tbody>
</table>
