

<!-- <h1>Hello world!!!</h1> -->
<!-- <hinv-rooms></hinv-rooms> -->
<!-- <h1>Welcome to My Angular App</h1>
<hinv-navbar></hinv-navbar> -->


<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'user'">
        welcome user
    </div>
    <div *ngSwitchCase="'Admin'">
        welcome admin
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchDefault>
       U dont have access
    </div>
</div> -->

<div>
    <ng-template #user></ng-template>
</div>

<!-- ng-template which will not render anything it can help us to resome some other component 
#user is somethig reference 
once u have defined # tag with any html tag u can access that tag inside ur ts file using ViewChild  -->